* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #1b1b1b;
}
header {
    height: 100px;
    background-color: #000000;
    position: sticky;
    top: 0;
    text-align: right;

    p {
        text-align: center;
        padding-top: 30px;

        color: #ffffff;
        font-weight: 800;
        font-size: 30px;
    }
}
main {
    font-size: 30px;
    padding: 180px 70px 0;
    text-align: center;
    color: #ffffff;
    p {
        margin: 20px 0;
    }
    img{
        width: 200px;
    }
    #use{
        width: 80px;
        height: 35px;
        font-weight: 800;
    }
    .box{
        position: relative;
        text-align: left;
        padding: 20px 20px;
        height: 200px;

        border-style: solid;
        border-width: 4px;
        border-color: #000000;
        background-color: #555454;
        label{
            font-weight: 600;
        }
        input{
            width: 240px;
            height: 30px;
        }
        #submit{
            width: 80px;
            height: 30px;
            font-weight: 750;
        }
    }
    #output{
        text-align: center;


    }
}